<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <!-- render a search bar, result is the search callback from app -->
      <!-- search-provider passes in the string name of the service we want to use -->
      <search result="$ctrl.searchResults" search-provider="youTube"><h5><em>search</em> component goes here</h5></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <!-- render a video-player, video is used to send current video to video player -->
      <video-player video="$ctrl.currentVideo"><h5><em>videoPlayer</em> component goes here</h5></video-player>
      <!-- render a video-comment-list, current-comments is used to send current comments to comment list -->
      <video-comment-list current-comments="$ctrl.currentComments"><h5><em>videoCommentList</em> component goes here</h5></video-comment-list>
    </div>
    <div class="col-md-5">
      <!-- render a video-list, videos is used to send a list of videos to list, on-click is click handler from app for video list entries -->
      <video-list videos="$ctrl.videos" on-click="$ctrl.selectVideo"><h5><em>videoList</em> component goes here</h5></video-list>
    </div>
  <div>
</div>
